.categorysidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.categorysidebar .category{
    display: flex;
    align-items: center;
    border: 1px solid #e7e7e7;
    padding: 10px 20px;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    border-width: 1px;
    border-style: solid;
    
}

.categorysidebar .category:hover{
    border-width: 1.5px;
    background-color: #e7e7e7;
    border-color: rgb(182, 181, 181);
    
}



.categorysidebar .category img{
    width: 40px;
    height: 40px;
}
.categorysidebar .category h3{
    /* margin: 0px 20px; */
    font-size: 16px;
    font-family: 'Hammersmith', cursive;
}
