.homecategories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
}

.homecategories .container {
    width: 24%;
    min-width: 300px;
    height: 180px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(227, 227, 227);
    background-color: transparent;
}

.homecategories .container img{
    width: 35%;
    object-fit: cover;
}
.homecategories .container .content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homecategories .content{
    display: flex;
    flex-direction: column;
}
.homecategories .container .content h1{
    font-size: 15px;
    font-weight:600;
    margin: 0;
    padding-left: 15px; 
    font-family:  'San Serif', sans-serif, 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.homecategories .container .content p{
    font-size: 13px;
    font-weight:300;
    margin: 0;
    padding: 0px;
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Righteous', cursive, 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



.homecategories .container:nth-child(1):hover{
    border-width: 1.5px;
    border-color: rgb(182, 181, 181);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

}


.homecategories .container:nth-child(2):hover{
    border-width: 1.5px;
    border-color: rgb(182, 181, 181);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}




.homecategories .container:nth-child(3):hover{
    border-width: 1.5px;
    border-color: rgb(182, 181, 181);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}




.homecategories .container:nth-child(4):hover{
    border-width: 1.5px;
    border-color: rgb(182, 181, 181);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
