:root{
  --col1: #f68a0e;
  --col2: gray;
  --col3: #cecece;
  --col4: #f5c518;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
}

#dropdown-basic {
  outline: none;
  border: none;
  margin: 0px;
  padding: 0px;
}
